<%- include('header'); -%>
<div class="row row-cols-1 row-cols-md-3 " style="margin-left: 150px; margin-right: 150px;" >
    <% for (let i = 0; i < products.length; i++) {
        const element = products[i]; %>
    <div class="col mb-4">
      <div class="card">
        <img src="<%= element.img %>" class="card-img card-img-top" alt="<%= element.name %>">
        <div class="card-body">
            <h3 class="card-title"><%= element.name %></h3>
          <h5 class="card-title"><%= element.desc %></h5>
          <p class="card-text"><%= element.price %></p>
        </div>
      </div>
    </div>
    <% } %>
  </div>


<%- include('footer'); -%>
