<%- include('partials/header'); -%>

<div class="row row-cols-1 row-cols-md-3 " style="margin-left: 150px; margin-right: 150px;" >
    <% if (use.length > 0) { %>
        <% use.forEach(use => { %>
    <div class="col mb-4">
      <div class="card">
        <img src="/uploads/<%= use.image %>" class="card-img card-img-top" alt="<%= use.name %>" />
        <div class="card-body">
            <h3 class="card-title">name: <%= use.name %></h3>
          <h5 class="card-title">number of item: <%= use.number %></h5>
          <p class="card-text">price: <%= use.price %></p>
          <a href="/detail/<%= use._id %>" class="btn btn-primary">product details</a>
        </div>
      </div>
    </div>
    <%  })}else{ %>
      <br><br>
      <h5>no products</h5>
      <% } %> 
  </div>


<%- include('partials/footer'); -%>
